/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


/* Navigation */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 225px;
  height: 100vh;
  background: #28383c;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar .homepage-button a{
  color: #01b8aa;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: none;
}

.wrapper .sidebar h3{
  color: #01b8aa;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul{
  padding-left: 0 !important;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #01b8aa;
  text-align: center;
  display: block;
  text-decoration:none;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #546b6d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
} 

/* Login Page */
html.login-page {
  background: url(https://images.unsplash.com/photo-1635874615085-cc17dd975643?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

#login-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(3, 3, 3, 1);
  overflow: hidden;
  opacity: 0.8;
  box-shadow: 10px 10px 30px #000;
  animation: nohovering 0.9s; /* IE 10+, Fx 29+ */
  transition: all .6s ease-in-out; 
}

#login-button:hover {
  transform: scale(2); 
  animation: hovering 5s infinite; /* IE 10+, Fx 29+ */
}


@keyframes nohovering {
  0%   { z-index: 1; }
  100% { z-index: 9; }
}

@keyframes hovering {
  0%   { z-index: 10; }
  100% { z-index: 10; }
}


/* Login container */
#login-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  background: rgba(3, 3, 3, 0.8);
  box-shadow: 1px 1px 50px #000;
  display: none;
}

#login-form {
  horizontal-align: center;
  padding: 30px;
}

.close-btn {
  position: absolute;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  line-height: 18px;
  top: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  color: white;
  opacity: 0.8;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.close-btn:hover {
  opacity: 0.5;
}

/* Heading */
#login-form h1 {
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
  color: #ddd;
  text-shadow: 3px 3px 10px #000;
}

/* Inputs */
#login-form a,
input {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  position: relative;
  width: 100%;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgba(3, 3, 3, 0.1);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#login-form input:focus {
  outline: none;
  box-shadow: 3px 3px 10px #333;
  background: rgba(3, 3, 3, 0.18);
}

/* Link */
#login-submit{
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  padding: 4px 8px;
  background: rgba(107, 255, 3, 0.3);
}

/* Main Content */
.content-container {
  justify-content: center;
  text-align: center;
}

.wrapper .main_content{
  width: 100%;
  min-height: 100vh;
  margin-left: 225px;
  padding-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  background: #D3D3D3;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

/* Sign Up */

.main_content input {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  position: relative;
  width: 400px;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: #01b8aa;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: #28383c;
  text-align: center;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main_content input:focus {
  outline: none;
  box-shadow: 3px 3px 10px #333;
  background: #D3D3D3;
  color: black;
}

.main_content textarea {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  position: relative;
  width: 400px;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: #01b8aa;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: #28383c;
  text-align: center;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main_content textarea:focus {
  outline: none;
  box-shadow: 3px 3px 10px #333;
  background: #D3D3D3;
  color: black;
}

.main_content input[type= "submit"] {
  margin-top: 40px;
  background: #01b8aa;
  color: #28383c;
}

/* Placeholders */
::-webkit-input-placeholder {
  color: #ddd;
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: red;
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: red;
  text-align: center;
}

:-ms-input-placeholder {
  color: #333;
  text-align: center;
}

.main_content ::-webkit-input-placeholder {
  color: #01b8aa;
  text-align: center;
}

.main_content :-moz-placeholder {
  /* Firefox 18- */
  color: green;
  text-align: center;
}

.main_content ::-moz-placeholder {
  /* Firefox 19+ */
  color: green;
  text-align: center;
}

.main_content :-ms-input-placeholder {
  color: #01b8aa;
  text-align: center;
}

.error-messages {
  color: red;
}

/* Data Sheet Cards */

.datasheet-container {
  width: 100%;
  padding: 10px;
}

.datasheet-container h1{
  text-align: center;
}

.rack-row {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.rack-column {
  display: table-cell;
  text-align: center;
  padding: 2em;
}

.tray-row {
  display: table;
  table-layout: fixed;
  border-spacing: 10px;
  width: 100%;
  justify-content: center;
}

.tray-column {
  display: table-cell;
  text-align: center;
  justify-content: center;
}


.card-container {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.card {
  justify-content: center;
  height: 80px;
  background-color: #FAF0E6 !important;
}

.card-container section{
}

.card-container p{
  justify-self: center;
  margin-bottom: 0;
}

.card:hover {
  z-index: 2;
  background-color: black;
  color: #01b8aa;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  transform:  scale(1.20);
  transition: all 0.3s ease-in-out;
}

.data-sheet-link {
  text-decoration: none;
  color: black;
  min-width: 50px;
}

/* Data Sheet Page */

.data-sheet-header {
  width: 100%;
  text-align: center;
}

.data-sheet-row {
  display: table;
  table-layout: fixed;
  border-spacing: 10px;
  width: 100%;
  justify-content: center;
}

.data-sheet-column {
  display: table-cell;
  text-align: center;
}

.data-sheet-column h4{
  font-size: 18px;
  text-decoration: underline;
}

.data-sheet-column p{
  font-size: 16px;
}

.data-entries-index {
  padding-top: 50px;
}

.data-entries-row {
  display: table;
  table-layout: fixed;
  border-spacing: 10px;
  width: 100%;
  justify-content: center;
}

.data-entries-column {
  display: table-cell;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.data-entries-column h4{
  font-size: 16px;
  text-decoration: underline;
}

.data-entries-column p{
  font-size: 14px;
}

.tray-info {
  padding-top: 15px;
  padding-right: 5vw;
  margin: 0;
}

.column-xsml {
  width: 30px;
}

.column-sml {
  width: 50px;
}
.column-lrg {
  width: 10vw;
}
